@import "./../style.scss";


.form {
  display: flex;
  flex-direction: column;

  &__input-text {
    color: $dark_grey;
    font-family: $fancy_font;
    font-size: 3.75rem !important;
  }

  &__text {
    color: white;
    font-family: $main_font;
    font-size: 3rem;
  }

  &__button_wrapper {
    text-align: center;
    padding-top: 8rem;
  }
  &__button {
    color: $orange;
    display: inline-block;
    width: 35rem;
    font-family: $fancy_font;
    font-size: 5rem;
    background-color: $light_grey;
}
}

