
@import url(https://fonts.googleapis.com/css?family=Ranga&display=swap);


$dark_grey: #737171;
$light_grey: #D7D7D7;
$orange: #FF7F1B;
$white: #FFFFFF;

$fancy_font: 'Ranga', cursive;
$main_font: 'courier';
